body
{
    background-size:cover;
    background-position: center;
}
.heading
{
font-size: x-large;
color: black;
font-weight: bold;

}
canvas
{
box-shadow: 5px 10px grey;
border: 3px solid black;
}



