body
{
    background-size:cover;
    background-position: center;
}
.heading
{
font-size: x-large;
color: black;
font-weight: bold;

}
#bed
{
    width: 100px;
    height: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
}